.wrap {
    display: grid;
    grid-template-columns: minmax(2.75rem, 1fr) minmax(0, auto) minmax(2.75rem, 1fr);
    align-items: center;
    gap: var(--gap-8);
    padding: calc(var(--gap-4) - var(--gap-0-5)) calc(var(--gap-6) - var(--gap-0-5));
    padding-bottom: calc(var(--gap-4) - var(--gap-0-5));
}

.left {
    display: flex;
    justify-content: flex-start;
}

.titles-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
    min-width: 0;
}

.title {
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    font-weight: var(--fw-semibold);
    min-width: 0;
}

.description {
    max-width: 100%;
    color: hsl(var(--color-hsl-white) / 0.6);
}

@media (max-width: 767px) {
    .wrap {
        gap: var(--gap-2);
        padding-block: calc(var(--gap-4) - var(--gap-0-5));
        grid-template-columns: 2.75rem minmax(0, auto);
        padding-inline: var(--gap-3);
    }

    .titles-wrap {
        align-items: flex-start;
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .wrap {
        gap: var(--gap-2);
        padding-block: calc(var(--gap-4) - var(--gap-0-5));
        padding-inline: var(--gap-4);
    }
}
