.wrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: var(--gap-8);
    padding: calc(var(--gap-4) - var(--gap-0-5)) calc(var(--gap-6) - var(--gap-0-5));
    padding-bottom: calc(var(--gap-4) - var(--gap-1));
}

.left {
    display: flex;
    justify-content: flex-start;
}

.titles-wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
}

.title {
    text-align: center;
    white-space: nowrap;
    font-weight: var(--fw-semibold);
}

.description {
    color: hsl(var(--color-hsl-white) / 0.6);
}
