.wrap {
    --option-item-icon-size: 1.25rem;

    position: relative;
    display: grid;
    grid-template-columns: 1fr var(--option-item-icon-size);
    align-items: center;
    gap: var(--gap-2);
    width: 100%;
    padding: var(--gap-2) calc(var(--gap-2) + var(--gap-0-5));
    border-radius: var(--radius-xl);
    color: var(--color-base-white);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
}

.addon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--option-item-icon-size);
    height: var(--option-item-icon-size);
    flex-shrink: 0;
}

.addon > svg {
    width: 100%;
    height: 100%;
    color: var(--color-base-white);
}

.label {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    flex: 1;
    font-weight: 500;
    min-width: 0;
}

.wrap .checkmark {
    width: 100%;
    height: 100%;
    opacity: 0;
    color: var(--color-brand-500);
    transition: opacity 0.15s ease-in-out;
}

.wrap:is([data-checked="true"], [data-selected], [data-checked=""]) .checkmark {
    opacity: 1;
}

.wrap:is([data-highlighted], :focus-visible) {
    background-color: var(--color-gray-100);
}

.wrap[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--color-gray-500);
}

.wrap:hover {
    background-color: hsl(0deg 0% 10% / 0.02);
}

.wrap[data-option-item-variant="surface"]:hover {
    background: var(--surface-thin);
    background-blend-mode: normal, luminosity;
    backdrop-filter: blur(20px);
}
