.connected {
    position: relative;
    padding: 0 !important;
    box-shadow:
        0 0 2.4px 1.2px hsl(var(--color-hsl-white) / 0.1),
        0 0 2.4px hsl(0deg 0% 13.8% / 0.75) inset,
        0 0 1.2px 0.36px hsl(var(--color-hsl-black) / 0.9) inset;
    overflow: hidden;
}

.connected .logout-overlay {
    position: absolute;
    inset: 0;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: hsl(var(--color-hsl-black) / 0.6);
    pointer-events: none;
}

.connected:is(:hover, :focus-visible) .logout-overlay {
    opacity: 1;
}

.connected .logout-overlay .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-full);
}

.connect,
.connected:is(:hover) {
    box-shadow:
        0 0 2.4px 1.2px hsl(var(--color-hsl-white) / 0.1),
        0 0 2.4px hsl(0deg 0% 13.8% / 0.75) inset,
        0 0 1.2px 0.36px hsl(var(--color-hsl-black) / 0.9) inset;
}
