.wrap {
    --shadow:
        1px 1.5px 4px hsl(var(--color-hsl-black) / 0.1) inset, 1px 1.5px 4px hsl(var(--color-hsl-black) / 0.08) inset,
        0 -0.5px 1px hsl(var(--color-hsl-white) / 0.25) inset, 0 -0.5px 1px hsl(var(--color-hsl-white) / 0.3) inset;
    --icon-size: 1.25rem;
    --input-inner-height: 28px;
    --search-cancel-size: 1.75rem;
    --input-min-height: 2.5rem;
    --input-padding-y: var(--gap-2);
    --input-padding-x: var(--gap-4);
    --input-font-size: 1rem;
    --input-line-height: 1.5rem;
    --input-font-weight: 500;

    position: relative;
    display: inline-flex;
    align-items: center;
    gap: calc(var(--gap-1) + var(--gap-0-5));
    min-height: var(--input-min-height);
    padding: var(--input-padding-y) var(--input-padding-x);
    border-radius: var(--radius-xl);
    background: var(--surface-thick);
    background-blend-mode: normal, luminosity;
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow);
    overflow: hidden;
    will-change: background, box-shadow;
    transition:
        color 0.2s ease-in-out,
        background 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        backdrop-filter 0.2s ease-in-out;
}

.wrap[data-size="sm"] {
    --icon-size: 16px;
    --input-inner-height: 20px;
    --search-cancel-size: 20px;
    --input-min-height: 36px;
    --input-padding-y: 8px;
    --input-padding-x: 12px;
    --input-font-size: 0.875rem;
    --input-line-height: 1.25rem;
    --input-font-weight: 400;
}

.wrap[data-size="md"] {
    --icon-size: 20px;
    --input-inner-height: 24px;
    --search-cancel-size: 24px;
    --input-min-height: 40px;
    --input-padding-y: 8px;
    --input-padding-x: 10px;
    --input-font-size: 1rem;
    --input-line-height: 1.5rem;
    --input-font-weight: 500;
}

.wrap[data-size="xl"] {
    --icon-size: 24px;
    --input-inner-height: 24px;
    --search-cancel-size: 28px;
    --input-min-height: 48px;
    --input-padding-y: 12px;
    --input-padding-x: 12px;
    --input-font-size: 1rem;
    --input-line-height: 1.5rem;
    --input-font-weight: 500;
}

.wrap[data-rounded="true"] {
    border-radius: var(--radius-full);
}

.wrap:not(:has(input:disabled), [data-variant="surface"]):hover {
    background: var(--gradient-bottom-shine-secondary);
    background-blend-mode: color-dodge, normal, luminosity;
    backdrop-filter: blur(24px);
}

.wrap:has(.input:disabled),
.wrap .input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}

.wrap[data-variant="surface"] {
    background: var(--surface-regular);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow);
}

.wrap[data-variant="surface"]:not(:has(input:disabled)):hover {
    backdrop-filter: blur(24px);
}

.wrap > input {
    flex: 1 1 auto;
    height: var(--input-inner-height);
    min-width: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-base-white);
    caret-color: var(--color-warning-400);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    font-weight: var(--input-font-weight);
}

.wrap > input::placeholder {
    color: hsl(var(--color-hsl-white) / 0.5);
}

.wrap > input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    width: var(--search-cancel-size);
    height: var(--search-cancel-size);
    margin-right: 0;
    border-radius: var(--radius-full);
    background-color: hsl(0deg 0% 37% / 0.18);
    background-image: url("/images/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.wrap > input[type="search"]::-webkit-search-cancel-button:hover {
    background-color: hsl(0deg 0% 37% / 0.3);
}

.addon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    color: var(--color-base-white);
}

.addon > svg {
    width: var(--icon-size);
    height: var(--icon-size);
}
