.popup {
    width: 28rem;
    max-width: calc(100vw - 2rem);
    padding: calc(var(--gap-1) + var(--gap-0-5));
    border-radius: var(--radius-2xl);
    backdrop-filter: blur(100px);
    color: var(--color-base-white);
    display: flex;
    flex-direction: column;
    gap: var(--gap-0-5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--gap-2);
}

.heading {
    color: hsl(var(--color-hsl-white) / 0.8);
}

.positioner {
    z-index: 99;
}
