.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-8);
}

.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--gap-5) + var(--gap-0-5)) var(--gap-8);
    padding-bottom: calc(var(--gap-5) - var(--gap-1) - var(--gap-0-5));
    gap: var(--gap-4);
    top: 0;
    z-index: 10;
}

@media (max-width: 767px) {
    .header {
        padding-inline: calc(var(--gap-3) + var(--gap-0-5));
        padding-top: var(--gap-3);
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .header {
        padding-top: calc(var(--gap-2) + var(--gap-0-5));
        padding-bottom: var(--gap-3);
        padding-inline: calc(var(--gap-3) + var(--gap-0-5));
    }
}

.header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0;
    box-shadow:
        0 4px 8px 0 hsl(var(--color-hsl-black) / 0.06),
        0 0 4px 0 hsl(var(--color-hsl-black) / 0.04);
    transition: opacity 0.2s ease;
    pointer-events: none;

    /* NOTE: surface-regular in index.css */

    background: var(--surface-regular);
    background-blend-mode: normal, luminosity;
    backdrop-filter: blur(100px);
}

.header[data-stuck="true"]::after {
    opacity: 1;
}

@supports (container-type: scroll-state) {
    .header {
        container-type: scroll-state;
    }

    @container scroll-state(stuck: top) {
        .header::after {
            opacity: 1;
        }

        .header .title {
            /*  NOTE: Typography variant display-xs */

            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

.title {
    color: var(--color-base-white);
    font-weight: var(--fw-semibold);
    z-index: 1;
}

.toolbar {
    z-index: 1;
}

.grid {
    --grid-columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gap-3) var(--gap-0-5);
    padding-inline: var(--gap-6);
}

@media screen and (min-width: 1170px) {
    .grid {
        --grid-columns: 3;
    }
}

@media screen and (min-width: 1728px) {
    .grid {
        --grid-columns: 4;
    }
}

@media (max-width: 767px) {
    .grid {
        --grid-columns: 1;

        padding-inline: calc(var(--gap-3) + var(--gap-0-5));
        margin-top: calc(var(--gap-3) + var(--gap-0-5) + var(--gap-px));
        gap: var(--gap-4);
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .grid {
        padding-inline: calc(var(--gap-3) + var(--gap-0-5));
        gap: var(--gap-3) var(--gap-4);
    }
}

.groups {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    scroll-margin-top: var(--gap-24);
}

.group-title {
    color: var(--color-base-white);
    font-weight: var(--fw-medium);
    padding-inline: var(--gap-8);
}

.group .group-separator {
    margin-inline: var(--gap-8);
    height: 2px !important;
    width: calc(100% - var(--gap-8) * 2) !important;
}

@media (max-width: 767px) {
    .group {
        gap: 0;
    }

    .group .group-title {
        margin-bottom: calc(var(--gap-1) + var(--gap-0-5));
        line-height: 0.9375rem;
    }

    .group .group-separator {
        margin-inline: calc(var(--gap-5) + var(--gap-0-5));
        width: calc(100% - calc(var(--gap-5) + var(--gap-0-5)) * 2) !important;
    }

    .group .group-title {
        padding-inline: calc(var(--gap-5) + var(--gap-0-5));
    }
}

.empty,
.error {
    padding: var(--gap-12) var(--gap-4);
    text-align: center;
    color: hsl(var(--color-hsl-white) / 0.7);
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    align-items: center;
}

.sentinel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.sentinel > svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}
