.wrap {
    --parallax-x: 0;

    position: relative;
    flex: 0 0 calc((100cqi - var(--gap-3) * 2) / 3);
    border-radius: var(--radius-4xl);
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    max-height: 488px;
    isolation: isolate;
    padding: var(--gap-3);
    transition: background 200ms ease-in-out;
}

.wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--stroke-surface);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
    transition: opacity 250ms ease;
}

.wrap:is(:hover, :focus-within) {
    background: var(--surface-thick);
    backdrop-filter: blur(56px);
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.15) inset;
}

.wrap:is(:hover, :focus-within)::before {
    opacity: 1;
}

.media {
    overflow: hidden;
    width: 100%;
    border-radius: var(--radius-2xl);
}

.image {
    top: 0;
    left: -10%;
    height: 100%;
    object-fit: cover;
    transform: translateX(calc(var(--parallax-x) * 2px)) scale(1.2);
    transition: transform 80ms linear;
    pointer-events: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-3) var(--gap-2);
    gap: var(--gap-4);
}

.header-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-4);
}

.titles {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    color: var(--color-base-white);
}

.subtitle {
    color: rgb(255 255 255 / 0.7);
}

.open-button {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.wrap:is(:hover, :focus-within) .open-button {
    opacity: 1;
}

@media (max-width: 1024px) {
    .wrap {
        flex: 0 0 calc((100cqi - var(--gap-3)) / 2);
    }
}
