.wrap {
    font-family: "Inter", sans-serif;
    color: hsl(var(--color-hsl-white) / 0.9);
    letter-spacing: 0;
    transition:
        font-size 0.2s ease,
        line-height 0.2s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap[data-typography-variant="display-2xl"] {
    font-size: 4.5rem;
    line-height: 5.625rem;
}

.wrap[data-typography-variant="display-xl"] {
    font-size: 3.75rem;
    line-height: 4.5rem;
}

.wrap[data-typography-variant="display-lg"] {
    font-size: 3rem;
    line-height: 3.75rem;
}

.wrap[data-typography-variant="display-md"] {
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.wrap[data-typography-variant="display-sm"] {
    font-size: 1.875rem;
    line-height: 2.375rem;
}

.wrap[data-typography-variant="display-xs"] {
    font-size: 1.5rem;
    line-height: 2rem;
}

.wrap[data-typography-variant="text-xl"] {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.wrap[data-typography-variant="text-lg"] {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.wrap[data-typography-variant="text-md"] {
    font-size: 1rem;
    line-height: 1.5rem;
}

.wrap[data-typography-variant="text-sm"] {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.wrap[data-typography-variant="text-xs"] {
    font-size: 0.75rem;
    line-height: 1.125rem;
}
