.wrap {
    --home-content-offset-y: 5rem;

    position: relative;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    padding-block: var(--home-content-offset-y);
}

.main {
    position: relative;
    flex: 1;
    width: 100%;
    max-width: 1280px;
    height: calc(100vh - var(--home-content-offset-y) * 2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(var(--color-hsl-white) / 0.24);
    gap: var(--gap-12);
}

.main::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    /* NOTE: surface-regular in index.css */

    background: var(--surface-regular);
    background-blend-mode: normal, luminosity;
    pointer-events: none;
    backdrop-filter: blur(20px);
}

.scroll {
    height: 100%;
}

.main,
.scroll .scroll-viewport,
.main::after {
    border-radius: 2.5rem;
}

.scroll .scroll-viewport {
    overflow: hidden;
}

.scroll :global(.scroll-area-scrollbar-vertical) {
    transform: translateX(20px);
}

.scroll :global(.scroll-area-scrollbar-vertical .scroll-area-thumb) {
    opacity: 1;
    background: hsl(var(--color-hsl-white) / 0.36);
    background-blend-mode: lighten;
}

.scroll :global(.scroll-area-scrollbar-vertical .scroll-area-thumb):hover {
    background: hsl(var(--color-hsl-white) / 0.6);
}

@media (max-width: 1024px) {
    .main {
        padding: var(--gap-6);
        gap: var(--gap-8);
    }
}
